:root {
    --primary-color: #56161f;
    --secondary-color: crimson;
    --dark-color: #292929;
    --white-color: #e7e7e7;

}

body {
    color: var(--dark-color);
    background-color: #ffffff;
}

#btnSubmit{
    background-color: #56161f;
}

#btnTry{
    background-color: #56161f;
    color: #e7e7e7;
}

nav {
    background-color: var(--primary-color);

}


footer {
    background-color: var(--primary-color);

}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}
.bsicon{
    color: purple;
}

.jsicon{
    color: rgb(226, 211, 4);
}

.html5icon{
    color: orangered;
}

.cssicon{
    color: rgb(11, 82, 214);
}
.checklist >li i{
    color: var(--primary-color)
}


code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}